{% extends "layout.html" %}

{% block title %}
    Buy
{% endblock %}

{% block main %}
<h2>BUY SHARES</h2>
    <form action="/buy" method="POST" >
      <div class="form-group">
        <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="stock symbol" placeholder="Symbol" style="margin:10px" name="symbol" ><br>
        <input type="number" class="form-control" id="exampleInputPassword1" placeholder="Shares" style="margin:10px" name="shares" ><br>
      <button type="submit" class="btn btn-primary">BUY</button>
    </form>
{% endblock %}
